NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# Service Account (for Google Sheets & Drive)
GOOGLE_CLIENT_EMAIL="your-service-account-email@your-project.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
GOOGLE_SPREADSHEET_ID="" # Оставьте пустым, скрипт создаст таблицу и покажет ID в консоли

# OAuth 2.0 Credentials (for Google Tasks & Calendar)
GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
GOOGLE_REFRESH_TOKEN="your-google-refresh-token"

# Telegram Bot
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""

# Payment Gateways
STRIPE_SECRET_KEY=""
YOOKASSA_SHOP_ID=""
YOOKASSA_SECRET_KEY=""
IYZICO_API_KEY=""
IYZICO_SECRET_KEY=""
PAYPAL_CLIENT_ID=""
PAYPAL_CLIENT_SECRET=""

# 2FA Secret for Admin Page
NEXT_PUBLIC_ADMIN_2FA_SECRET="BASE32SECRET32323232323232323232"
